@use "sass:color";
@import "reset";
@import "./variables/global";
@import "./theme/dark";
@import "./theme/light";

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--secondary-color);
    transition: 0.3s;
    min-height: 100vh;
}

$btn-width: 40px;
$btn-margin: 8px;
$btn-background: #d95b5b;

.btn {
    width: calc($btn-width * 3);
    margin: $btn-margin;
    background-color: $btn-background;
    color: color.adjust($btn-background, $lightness:30%);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
    transition: 0.3s;
}
