@import "reset";
@import "./variables/global";
@import "./theme/dark";
@import "./theme/light";

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--secondary-color);

  transition: 0.3s;
  min-height: 100vh;
}

$btnW: 40px;
$btnMargin: 8px;
$btnBG: #d95b5b;

.btn {
  width: calc($btnW * 3);
  margin: $btnMargin;
  background-color: $btnBG;
  color: lighten($btnBG, 30);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
  transition: 0.3s;
}