.dark {
    --bg-color: #0e0032;
    --inverted-bg-color: #e8daee;
    --primary-color: #90ee90;
    --secondary-color: #534175;
    --inverted-primary-color: #800020;
    --inverted-secondary-color: #8f76c4;
}
