.app.dark {

  --bg-color: #0e0032;
  --inverted-bg-color: #e8daee;

  --primary-color: #a8a0cd;
  --secondary-color: #534175;

  --inverted-primary-color: #685474;
  --inverted-secondary-color: #3d2b48;
}