.dark {
    --bg-color: #0e0032;
    --inverted-bg-color: #e8daee;
    --primary-color: #90ee90;
    --primary-color-soft: #bcf1bc;
    --secondary-color: #629362;
    --inverted-primary-color: #800020;
    --inverted-secondary-color: #8f76c4;
    --code-bg-color: #100825;
    --card-bg: #301954;
}
