.green {
    --bg-color: #495a08;
    --inverted-bg-color: #b7deb5;
    --primary-color: #f9fbf4;
    --primary-color-soft: #84ad82;
    --secondary-color: #a18d6b;
    --inverted-primary-color: #495a08;
    --inverted-secondary-color: #84ad82;
    --code-bg-color: #323d06;
}
