.green {
    --bg-color: #495a08;
    --inverted-bg-color: #f9fbf4;
    --primary-color: #f9fbf4;
    --primary-color-soft: #84ad82;
    --secondary-color: #4f3407;
    --inverted-primary-color: #495a08;
    --inverted-secondary-color: #84ad82;
}
