.light {
    --bg-color: #e8daee;
    --inverted-bg-color: #0e0032;
    --primary-color: #800020;
    --primary-color-soft: #bd264c;
    --secondary-color: #8f76c4;
    --inverted-primary-color: #90ee90;
    --inverted-secondary-color: #534175;
    --code-bg-color: #b2a5b6;
}
