.light {
    --bg-color: #e8daee;
    --secondary-bg-color: #f2e9f0;
    --inverted-bg-color: #0e0032;
    --primary-color: #800020;
    --primary-color-soft: #bd264c;
    --secondary-color: #8f76c4;
    --inverted-primary-color: #90ee90;
    --inverted-secondary-color: #534175;
    --code-bg-color: #b2a5b6;
    --card-bg: #f2e9f0;
    --options-bg: #f4e7f3;
    --options-bg-soft: #f2e9f0;
    --options-bg-active: #e8daee;
}
