.app.light {
    --bg-color: #e8daee;
    --inverted-bg-color: #0e0032;
    --primary-color: #d95b5b;
    --secondary-color: #8f76c4;
    --inverted-primary-color: #a8a0cd;
    --inverted-secondary-color: #534175;
}
