.Navbar {
    display: flex;
    align-items: center;

    width: 100%;
    height: var(--navbar-height);
    padding: 20px;

    background-color: var(--secondary-bg-color);

    transition: 0.3s;

    .logo {
        width: var(--sidebar-width);
        color: var(--inverted-primary-color);
    }

    .createArticleLink {
        margin-left: 10px;
    }
}

.dropdown,
.links {
    margin-left: auto;
}
