.Flex {
    display: flex;
}

.JustifyStart {
    justify-content: flex-start;
}

.JustifyEnd {
    justify-content: flex-end;
}

.JustifyCenter {
    justify-content: center;
}

.JustifyBetween {
    justify-content: space-between;
}

.JustifyAround {
    justify-content: space-around;
}

.JustifyEvenly {
    justify-content: space-evenly;
}

.AlignStart {
    align-items: flex-start;
}

.AlignEnd {
    align-items: flex-end;
}

.AlignCenter {
    align-items: center;
}

.AlignBaseline {
    align-items: baseline;
}

.AlignStretch {
    align-items: stretch;
}

.DirectionRow {
    flex-direction: row;
}

.DirectionRowReverse {
    flex-direction: row-reverse;
}

.DirectionColumn {
    flex-direction: column;
}

.DirectionColumnReverse {
    flex-direction: column-reverse;
}

.Gap4 {
    gap: 4px;
}

.Gap8 {
    gap: 8px;
}

.Gap12 {
    gap: 12px;
}

.Gap16 {
    gap: 16px;
}

.Gap24 {
    gap: 24px;
}

.max {
    width: 100%;
}
