.ProfileCard {
    padding: 16px;
    border: 1px solid var(--primary-color);
    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: 0 0 10px var(--primary-color);
    }

    .avatarWrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .readonly {
        border-color: var(--inverted-primary-color);
    }
}
