.CommentCard {
    padding: 10px;
    border: 1px solid var(--primary-color);
}

.header {
    display: flex;
    align-items: flex-start;
}

.username {
    margin-left: 10px;
    font-weight: bold;
}

.text {
    margin-top: 10px;
}
